@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes gradient-xy {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

@keyframes gradient-shadow-pulse {
  0%,
  100% {
    filter: drop-shadow(0 0 3px #f97316) drop-shadow(0 0 6px #7e22ce)
      drop-shadow(0 0 9px #c2410c);
  }
  50% {
    filter: drop-shadow(0 0 5px #f97316) drop-shadow(0 0 10px #7e22ce)
      drop-shadow(0 0 15px #c2410c);
  }
  25%,75% {
    filter: drop-shadow(0 0 7px #f97316) drop-shadow(0 0 6px #7e22ce)
      drop-shadow(0 0 5px #c2410c);
  }
}

.animate-gradient-xy {
  animation: gradient-xy 5s ease infinite;
  background-size: 200% 200%;
}

.gradient-pulse {
  animation: gradient-shadow-pulse 3s ease-in-out infinite;
}
